:root {
	--fancy-squiggle: url("../images/squiggle.svg");
}

html {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: Gill Sans;
}

table {
	margin: auto;
	background-color: #d9d9d9;
}
th {
	padding: 0.5em;
	text-align: right;
	width: min-content;
}
tr {
    background-color: #e8e8e8;
}

.fancy-button { /* see .report-link in style.css */
	border-style: ridge;
	border-width: 5px;
	border-radius: 8px;
	border-color: #3f8a40; /* some kind of green */
	padding: 10px 0px;
	margin: auto;
	text-transform: uppercase;
	font-size: calc(10px + 0.5vw);
	white-space: nowrap;
	box-sizing: content-box;
}
.fancy-button:hover, .fancy-button:focus {
	text-shadow: 3px 2px #09f911;
	box-shadow: 0px 0px 10px 0px green;
}
.fancy-button:active {
    box-shadow: inset 0px 0px 8px 3px #AAEE88;
    border-style: groove;
}

.errorlist {
	margin: 0;
	padding: 0;
	color: #B00B13; /* contrast accessibility */
	font-family: Futura, monospace;
	font-size: x-small;
}

ul.errorlist > li {
	display: inline-block;
}

.helptext {
	color: #0911f9;
	font-size: small;
}

input {
	width: 90%;
	font-family: Futura, sans-serif;
}

td {
	width: 11em;
}

footer {
    text-align: center;
}