th {
    background-color: #d9d9d9;
    cursor: row-resize;
    padding: 1 em;
}
tr:hover {
    background-color: #d9d9d9;
}
th:hover {
    font-style: italic;
    background-color: #e8e8d9;
}
th:focus {
    font-style: italic;
    background-color: #e8e8e8;
}

tr.confirmed:hover {
    background-color: #d9e8d9;
}

.confirmed .species {
    font-weight: bold;
}
.confirmed .number {
    font-style: italic;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 151px;
  background-color: black;
  color: #e8e8d9;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.privacy-notice {
  color: d9d9e8;
  font-style: italic;
}

.address-error {
  color: e8d9d9;
}

.sort-info {
  display: none;
}

address {
  font-style: normal;
}

.verification {
  min-width: 4em;
}

.neighborhood {
  min-width: 7em;
}

.species {
  min-width: 4em;
  max-width: 8em;
}

.nest-name {
  max-width: 12em;
}

.ge {
  color: #e8e8d9;
}

.f, .ge .m {
  font-style: italic;
}

.audit {
  font-size: small;
}

header, footer {
  text-align: center;
  margin: auto;
}

td.number, td.verification {
  text-align: right;
}

table {
  margin: auto;
}