:root {
  --fancy-squiggle: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .64s linear infinite;}@keyframes shift {from {transform:translateX(-20px);}to {transform:translateX(0px);}}%3C/style%3E%3Cpath fill='none' stroke='%233f8a40' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

th {
    background-color: #d9d9d9;
    cursor: row-resize;
    padding: 1 em;
}
tr:hover {
    background-color: #d9d9d9;
}
th:hover {
    font-style: italic;
    background-color: #e8e8d9;
}
th:focus {
    font-style: italic;
    background-color: #e8e8e8;
}

tr.confirmed:hover {
    background-color: #d9e8d9;
}

.confirmed .species {
    font-weight: bold;
}
.confirmed .number {
    font-style: italic;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 151px;
  background-color: black;
  color: #e8e8d9;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.privacy-notice {
  color: d9d9e8;
  font-style: italic;
}

.address-error {
  color: e8d9d9;
}

.sort-info {
  display: none;
}

address {
  font-style: normal;
}

.verification {
  min-width: 2em;
}

.neighborhood {
  min-width: 7em;
}

.species {
  min-width: 4em;
  max-width: 8em;
}

.nest-name {
  max-width: 12em;
}

.ge {
  color: #e8e8d9;
}

.f, .ge .m {
  font-style: italic;
}

.audit {
  font-size: small;
}

header, footer {
  text-align: center;
  margin: auto;
}

td.number, td.verification {
  text-align: right;
}

table {
  margin: auto;
}

.nest-alt-name:hover {
  background-image: var(--fancy-squiggle);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 2px;
}

a {
  text-decoration: none;
}

a:hover {
  /* turn me off to avoid conflicting hover effects
  text-decoration: underline;
  */
  /* SVG animation from https://css-tricks.com/having-fun-with-link-hover-effects/ */
  background-image: var(--fancy-squiggle);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 3px;
}

.report-link {
  border-style: groove;
  border-width: 5px;
  border-radius: 8px;
  border-color: #3f8a40; /* some kind of green */
  padding: 20px 20px;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  width: 20vw;
  min-width: min-content;
  font-family: Optima, sans-serif;
  font-size: calc(12px + 1vw);
  white-space: nowrap;
  display: block flow;
}

.report-link:hover {
  text-decoration: overline;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 333px;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #d9d9d9;
  color: #123;
  cursor: pointer;
  padding: 18 18 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #e8e8e8;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #e8e8e8;
  font-family: Gill Sans, Futura, sans-serif;
}

/* has to be after .content or else it won't work */
.start-open {
  display: block;
}

.duplicate-warning {
  width: 100%;
  font-weight: bold;
  background-color: #e8d9d9;
}

.duplicate-warning:hover {
  /*width: max-content;*/
  background-color: #d9d9e8;
}