<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta property="og:site_name" content="Duck's Nest List">
    <meta property="og:type" content="list">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ location }} nests as of {{ rotation.date_priority_display }}">
	{% block self_url %}
    	<meta property="og:url" content="{{ url('nestlist:city_historic_date', city_id=location.ct().pk, date=rotation.pk) }}">
	{% endblock %}
	<meta name="viewport" content="width=device-width; user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="{{ static('nestlist/css/style.css') }}">
    {# <!-- TODO: update icon later --> #}
    <link rel="icon" type="image/png" href="{{ static('nestlist/images/ballhead cc.png') }}">

    <style>
	{% if not history %}
	td.rotation, th.rotation {
		display: none;
	}{% endif %}
	{% if neighbor_view %}
	td.neighborhood, th.neighborhood {
		display: none;
	}{% endif %}
	{% if species_search %}
	td.species, th.species, td.number, th.number {
		display: none;
	}{% endif %}
	{% if nest_view %}
	td.nest-name, th.nest-name, td.neighborhood, th.neighborhood {
	  display: none;
	}{% endif %}
    </style>

    <script type="text/javascript" src="{{ static('nestlist/js/sort_t.js') }}"></script>
    <title>
		{{ location.get_name() }}
		Nests!
	</title>
</head>
<body ontouchstart="" onclick="">
<header>
	{% block report_button %}
	<p class="report-link">
		<a href="{{ location.ct().report_form_url() }}">Report a nest</a>
	</p>{% endblock %}
	{% block search %}
	{% if not history %}
	<form action="{{ location.web_url() }}" method="get" class="search-party">
		<span class="search-box">
			<label for="pokésearch" class="off-screen">search for a specific pokémon</label>
			<input
					type="search"
					name="pokémon"
					placeholder="Charizard, 25, Water, egg:Monster, body:Kaijū"
					class="search-field"
					id="pokésearch"
					value="{% if species_name %}{{ species_name }}{% endif %}"
			>
			<br>
			<input
					type="submit"
					value="🗜Restrict Species ➡️"
					class="search-button"
			>
		</span>
		<span class="search-box">
			<label for="time-travel" class="off-screen">jump to a different rotation</label>
			<input
					type="search"
					name="date"
					id="time-travel"
					placeholder="w-3, m-2, y-1, 1999-09-19"
					class="search-field"
					value="{% if raw_date != 't' %}{{ raw_date }}{% endif %}"
			>
			<br>
			<input
					type="submit"
					value="️🚀Travel Time ⏲➡️🕰️"
					class="search-button"
			>
		</span>
	</form>
	{% endif %}
	{% endblock %}
	{% block top_nav %}
	{% endblock %}
</header>
<main style="margin: auto; max-width: max-content;">
	{% if current_nest_list %}{# don't display the table for an empty list #}
	<table id="nestList">
		<caption style="margin:auto;">
			{% block information %}
			<nav>
				<span>
					{% block self_main_link %}
					<a href="{{ location.web_url() }}" title="Clicking me clears all filters" class="tooltip">
						{{ location }}
						<span class="tooltiptext">Clicking me also clears the filters</span>
					</a>
					{% endblock %}
				</span>
				<span>
					{% block self_date_link %}
					<a
							href="{{ url('nestlist:city_historic_date', city_id=location.ct().pk, date=rotation.pk) }}"
							class="tooltip"
							title="Clicking me clears the species filter"
					>
						#{{ rotation }}
						<span class="tooltiptext">Click me to remove the species filter and stay on the same date</span>
					</a>
					{% endblock %}
				</span>
			</nav>
			{% endblock %}
		</caption>
		<thead><tr>
			<th scope="col" onclick="sortTable('nestList', 0)" onkeydown="sortKeyTable(event, 0)" tabindex="0" class="heading rotation">Rotation</th>
			<th scope="col" onclick="sortTable('nestList', 1)" onkeydown="sortKeyTable(event, 1)" tabindex="0" class="heading neighborhood">Neighborhood</th>
			<th scope="col" onclick="sortTable('nestList', 2)" onkeydown="sortKeyTable(event, 2)" tabindex="0" class="heading nest-name">Park</th>
			<th scope="col" onclick="sortTable('nestList', 3)" onkeydown="sortKeyTable(event, 3)" tabindex="0" class="heading number">#</th>
			<th scope="col" onclick="sortTable('nestList', 4)" onkeydown="sortKeyTable(event, 4)" tabindex="0" class="heading species">Species</th>
			<th scope="col" onclick="sortTable('nestList', 5)" onkeydown="sortKeyTable(event, 5)" tabindex="0" class="heading verification">2x?</th>
		</tr></thead>
		<tbody>
		{% for nest in current_nest_list %}
			<tr
					id="{{ nest.id }}"
					itemscope itemtype="https://schema.org/Place"
					class="nest
						{% if nest.confirmation %}confirmed{% else %}unconfirmed{% endif %}
						{% if history and nest.rotation_num == rotation %}present{% endif %}"
			>
				<td class="rotation">
					<span class="sort-info">{{ nest.rotation_num }}</span>
					<a href="{{ url('nestlist:city_historic_date', city_id=nest.nestid.ct().pk, date=nest.rotation_num.pk) }}">{{ nest.rotation_num }}</a>
				</td>
				<td class="neighborhood" itemprop="containedInPlace"
				id="{{ nest.nestid.neighborhood.pk }}">
					<span class="sort-info">{{ nest.nestid.neighborhood }}</span>
					<a href="{{ nest.nestid.neighborhood.web_url() }}">{{ nest.nestid.neighborhood }}</a>
				</td>
				<td class="nest-name tooltip" itemprop="name">
					<span class="sort-info">{{ nest.nestid.full_name() }}</span>
					<a href="{{ nest.nestid.web_url() }}">{{ nest.nestid.get_name() }}</a>
					<div class="tooltiptext">
						{% if nest.nestid.address %}
						<address itemprop="address">{{ nest.nestid.address }}</address>
						{% else %}
						<span class="address-error">No address on file</span>
						{% endif %}
						{% if nest.nestid.private %}
						<div class="privacy-notice">Private property, please be respectful</div>
						{% endif %}
					</div>
				</td>
				<td class="number">
					{% if nest.sp_no() %}
					<span class="sort-info">{{ nest.sp_no() }}</span> {# zero-pad to make sorting happy #}
					<a href="{{ url('nestlist:species_history', city_id=nest.nestid.ct().pk, poke=nest.species_no) }}">
						{{ nest.sp_no() }}
					</a>
					{% else %}N/A{% endif %}
				</td>
				<td class="species">
					<span class="sort-info">{% if nest.species_name_fk %}{{ nest.species_name_fk.name }}{% else %}{{ nest.species_txt }}{% endif %}</span>
					{% if nest.species_name_fk %}
					<a href="{{ url('nestlist:species_history', city_id=nest.nestid.ct().pk, poke=nest.species_name_fk.pk) }}">{{ nest.species_txt }}</a>
					{% else %}{{ nest.species_txt }}{% endif %}
				</td>
				<td class="verification tooltip">
					<span class="sort-info">{% if nest.confirmation %}1{% else %}2{% endif %}</span>
					{% if nest.confirmation %}✅{% else %}🔭{% endif %}
					{% if nest.report_audit.all() %}
					<div class="tooltiptext audit">
						{% for rpt in nest.report_audit.all()|sort(attribute="timestamp", reverse=True) %}
						<span class="{% if not rpt.bot.restricted() %}ge{% endif %}">
							<span class="m">{{ rpt.web_str()[1] }}</span> {# species info #}
							<span style="display:inline-block;"> {# timestamp #}
								{{ rpt.web_str()[0].strftime("%b") }}
								{{ rpt.web_str()[0].strftime("%d")|ordinal }}
								{{ rpt.web_str()[0].strftime("%H:%M") }}
								<span class="f">{{ rpt.web_str()[2] }}</span> {# hashed username #}
							</span></span><br>
						{% endfor %}
					</div>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
	<div class="not-found" style="margin:auto; text-align: center;">
		🚫 No nests found in {{ self.self_main_link() }}
		{% if not history %} on rotation {{ self.self_date_link() }}{% endif %}
		{% if species_name %} matching a search for
		<a href="{{ url('nestlist:species_history', city_id=location.ct().pk, poke=species_name) }}">
			{{ species_name }}
		</a>
		{% endif %}
		🚫
	</div>
	{% endif %}
	{% block dup_note %}{% endblock %}
</main>
<footer>
	<hr>
	{% block bottom_notes %}
	<p class="confirmed present">
		✅ Species with a <span class="species">bold name</span> and an <span class="number">italic pokédex number</span> have multiple confirming reports.
		<br>
		{{ current_nest_list.filter(confirmation=True).count() }} out of {{ current_nest_list.count() }} reports confirmed.
		<br>
		🔭 Nests only have a single report.
		{% if history %}
		<br>
		<span class="rotation">Today's rotation date is italic.</span>
		{% endif %}
	</p>
	<p>⚠️Mid-rotation events may throw off the accuracy of the list.</p>
	{{ self.report_button() }}
	<p><a style="font-size: small;" href="https://github.com/duck57/poke-db/tree/master/pokedb/nestlist">source</a></p>
	{% endblock %}
</footer>

<div style="width:33%; min-width: 20em; margin:auto;">
	{% block empty_zone %}
	{% if ps_touched %}
	<button type="button" class="collapsible"><h4>Park Systems</h4></button>
	<ul class="content">
	    {% for ps in ps_touched %}
		<li>
			<a href="{{ ps.web_url() }}">{{ ps.get_name() }}</a>
			<ul>
				{% for p in ps.nstlocation_set.all()|sort(attribute="official_name") %}
				<li><a href="{{ p.web_url() }}">{{ p.get_name() }}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if regions_touched %}
	<button type="button" class="collapsible"><h4>Regions</h4></button>
	<ul class="content">
	    {% for r in regions_touched|sort(attribute="name") %}
		<li>
			<a href="{{ r.web_url() }}">{{ r.get_name() }}</a>
			<ul>
				{% for n in r.neighborhoods.all()|sort(attribute="name") %}
				<li><a href="{{ n.web_url() }}">{{ n.get_name() }}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if neighborhoods %}
	<button type="button" class="collapsible"><h4>All Neighborhoods &amp; Suburbs</h4></button>
	<ul class="content">
	  {% for n in neighborhoods|sort(attribute="name") %}<li><a href="{{ n.web_url() }}">{{ n.get_name() }}</a></li>{% endfor %}
	</ul>
	{% endif %}
	{% endblock %}
</div>
{% block map_table %}
{% set boxen = location.pretty_nearby_list(nearby_radius) %}
{% if boxen %}
	{% macro box_list(dir) -%}
		<ul>
			{% for place in boxen[dir] %}
			<li
				title="{{ place.bearing_constant|round(1) }}° constant bearing"
			>
				<a href="{{ place.web_url() }}">{{ place.get_name() }}
				<span class="distance">{{ number_format(place.rhumb_len, 2) }} km</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	{%- endmacro %}
<table id="mapTable"><caption><h3>Nearby {{ scope_plural|title }} to Enjoy</h3></caption><tbody>
	<tr>
		<td id="northwest">{{ box_list("NW") }}</td>
		<td id="north">{{ box_list("N") }}</td>
		<td id="northeast">{{ box_list("NE") }}</td>
	</tr>
	<tr>
		<td id="west">{{ box_list("W") }}</td>
		<td id="center">You are here!</td>
		<td id="east">{{ box_list("E") }}</td>
	</tr>
	<tr>
		<td id="southwest">{{ box_list("SW") }}</td>
		<td id="south">{{ box_list("S") }}</td>
		<td id="southeast">{{ box_list("SE") }}</td>
	</tr>
</tbody></table>
{% endif %}
{% endblock %}

<script type="text/javascript">
function sortKeyTable(e, column) {
	if (e.keyCode == 13) {
		sortTable('nestList', column)
	}
}
</script>
<script type="text/javascript">
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</body></html>
