<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta property="og:site_name" content="Duck's Nest List">
    <meta property="og:type" content="list">
    <meta property="og:locale" content="en_US">
	{% block self_url %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ static('nestlist/css/style.css') }}">
    {# <!-- TODO: update icon later --> #}
    <link rel="icon" type="image/png" href="{{ static('nestlist/images/ballhead cc.png') }}">

    <title>Only here for the memes</title>
</head>
<body>

</body>
</html>