{% extends "nestlist/city.jinja" %}

{% block top_nav %}
<small>Neighborhood or suburb of
    <a href="{{ location.ct().web_url() }}">{{ location.major_city }}</a>
</small>
{% endblock %}

{% block empty_zone %}
{% if empties %}
<button type="button" class="collapsible"><h4>Unreported Nests</h4></button>
<ul class="content">
    {% for nest in empties %}
        <li><a href="{{ nest.web_url() }}">{{ nest.get_name() }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
