{% extends "nestlist/city.html" %}

{% block top-nav %}
<p><a href="{% url 'nestlist:report_nest' location.major_city.pk %}">Report a nest!</a></p>
<small>Neighborhood or suburb of
    <a href="{% url 'nestlist:city' location.major_city.pk %}">{{ location.major_city }}</a>
</small>
{% endblock %}

{% block empty-zone %}
{% if empties %}
<h3>Unreported Nests</h3>
<ul>
    {% for nest in empties %}
        <li><a href="{% url 'nestlist:nest_history' location.major_city.pk nest.pk %}">{{ nest.get_name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}