{% extends "nestlist/city.html" %}

{% block self_url %}
<meta property="og:url" content="{{ url('nestlist:nest_history', city_id=location.ct().pk, nest_id=location.pk) }}">
{% endblock %}

{% block top_nav %}
<p><a href="{{ location.ct().report_form_url() }}">Report a nest!</a></p>
<small>Nest in
    <a href="{{ location.ct().web_url() }}">{{ location.ct() }}</a>
    and
    <a href="{{ location.neighborhood.web_url() }}">{{ location.neighborhood }}</a>
</small>
{% endblock %}

{% block information %}
<h3>{{ location.official_name }}</h3>
{% endblock %}

{% block bottom_notes %}
<p><a href="{{ location.ct().report_form_url() }}">Report a nest!</a></p>
{% endblock %}