{% extends "nestlist/city.html" %}

{% block self-url %}
<meta property="og:url" content="{% url 'nestlist:nest_history' location.ct.pk location.pk %}">
{% endblock %}

{% block top-nav %}
<p><a href="{% url 'nestlist:report_nest' location.ct.pk %}">Report a nest!</a></p>
<small>Nest in
    <a href="{% url 'nestlist:city' location.ct.pk %}">{{ location.ct }}</a>
    and
    <a href="{% url 'nestlist:neighborhood' location.ct.pk location.neighborhood.pk %}">{{ location.neighborhood }}</a>
</small>
{% endblock %}

{% block information %}
<h3>{{ location.official_name }}</h3>
{% endblock %}

{% block bottom-notes %}
<p><a href="{% url 'nestlist:report_nest' location.ct.pk %}">Report a nest!</a></p>
{% endblock %}