{% extends "nestlist/city.jinja" %}

{% block self_url %}
<meta property="og:url" content="{{ location.web_url() }}">
{% endblock %}

{% block top_nav %}
{% if location.duplicate_of %}
<p class="duplicate-warning"><a href="{{ location.duplicate_of.web_url() }}">
    This is a duplicate entry kept for historical data.
    <br>
    Click this for the new nest.
</a></p>
{% endif %}
<small>Nest in
    {% if location.park_system %}
        <a href="{{ location.park_system.web_url() }}">{{ location.park_system.name }}</a>,
    {% endif%}
    {% if regions_touched %}
        {% for r in regions_touched %}
        <a href="{{ r.web_url() }}">{{ r.name }}</a>,
        {% endfor %}
    {% endif %}
    <a href="{{ location.ct().web_url() }}">{{ location.ct() }}</a>
    and
    <a href="{{ location.neighborhood.web_url() }}">{{ location.neighborhood }}</a>
</small>
{% endblock %}

{% block information %}
<h3 itemprop="name">{{ location.official_name }}</h3>
{% if other_names %}
<span style="font-variant: small-caps;">a.k.a.</span>
{% for name in other_names %}
<span class="nest-alt-name">{{ name }}</span>{% if not loop.last %}, {% endif %}
{% endfor %}
{% endif %}
<address>
    {% if location.address %}
        {{ location.address }}
    {% else %}
        No street address on file
    {% endif %}
</address>
{% if location.lat is not none and location.lon is not none %}
<div class="coord">{{ location.lat }},{{ location.lon }}</div>
{% endif %}
{% if location.private %}
    <div class="privacy-notice">Private property, please be respectful</div>
{% endif %}
{% if location.notes %}
<div style="font-size: small;">{{ location.notes }}</div>
{% endif %}
{% endblock %}

{% block empty_zone %}{% endblock %}

{% block dup_note %}
{% if location.prior_entries.all() %}
<div class="duplicate-history">
<h6>Prior Duplicates</h6>
<ul style="font-size: x-small;">
{% for n in location.prior_entries.all() %}
    <li><a href="{{ n.web_url() }}">{{ n.get_name() }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}