{% extends "nestlist/city.html" %}

{% block self_url %}
<meta property="og:url" content="{{ url('nestlist:nest_history', city_id=location.ct().pk, nest_id=location.pk) }}">
{% endblock %}

{% block top_nav %}
<p><a href="{{ location.ct().report_form_url() }}">Report a nest!</a></p>
<small>Nest in
    <a href="{{ location.ct().web_url() }}">{{ location.ct() }}</a>
    and
    <a href="{{ location.neighborhood.web_url() }}">{{ location.neighborhood }}</a>
</small>
{% endblock %}

{% block information %}
<h3 itemprop="name">{{ location.official_name }}</h3>
{% if other_names %}
<span style="font-variant: small-caps;">a.k.a.</span>
    {{ other_names|join(", ") }}
{% endif %}
<address>
    {% if location.address %}
        {{ location.address }}
    {% else %}
        No street address on file
    {% endif %}
</address>
{% if location.lat is not none and location.lon is not none %}
<div class="coord">{{ location.lat }},{{ location.lon }}</div>
{% endif %}
{% if location.private %}
    <div class="privacy-notice">Private property, please be respectful</div>
{% endif %}
{% if location.notes %}
<div style="font-size: small;">{{ location.notes }}</div>
{% endif %}
{% endblock %}