<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta property="og:site_name" content="Duck's Nest List">
    <meta property="og:type" content="list">
    <meta property="og:locale" content="en_US">
	{% block self_url %}<meta property="og:url" content="{{ url('nestlist:report_nest', city_id=location.ct().pk) }}"> {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ static('nestlist/css/form.css') }}">
    <!-- TODO: update icon later -->
    <link rel="icon" type="image/png" href="{{ static('nestlist/images/ballhead cc.png') }}">

    <title>{{ location.get_name() }} Report Form</title>
</head>
<body>
<main class="center">
    <nav><a href="{{ location.ct().web_url() }}">◀📓 Return to List</a></nav>
    <form action="{{ url('nestlist:report_nest', city_id=location.ct().pk) }}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table() }}
            <tr>
                <th>➡️{# blank cell for spacing #}</th>
                <td><input type="submit" value="Submit" width="100%" height="100%" class="fancy-button"></td>
            </tr>
        </table>
    </form>
    {% if location.ct().alternate_report_url %}
    <footer>
        <a href="{{ location.ct().alternate_report_url }}">🗒️ Alternate Report Form 📋</a>
    </footer>
    {% endif %}
</main>
<script type="text/javascript">
    window.onload = linebreak();
    function linebreak() {
        var elements = document.getElementsByClassName("errorlist");
        for (var i = 0; i < elements.length; i++) {
            elements[i].innerHTML = elements[i].innerHTML.replace(/gnbgkas/g, '<br>');
        }
    }
</script>
</body>
</html>