{% extends "nestlist/city.jinja" %}

{% block information %}
<a href="{{ location.web_url() }}">{{ location }}</a><br><strong>{{ species_name }} history</strong>
{% endblock %}

{% block empty_zone %}{% endblock %}